<div class="list-group">
    {{#each todos}}
        <a class="list-group-item" href="/todos/{{id}}">{{title}}</a>
    {{/each}}
</div>
<a type="button" class="btn btn-success" href="/todos/new">New todo</a>
